<a href="https://colab.research.google.com/github/Raa96/BDS/blob/master/Anonymizationtrial_code_19023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [44]:
import pandas as pd
import numpy as np
import scipy.stats
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder
# get rid of warnings
import warnings
warnings.filterwarnings("ignore")
# get more than one output per Jupyter cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# for functions we implement later
#from utils import best_fit_distribution
#from utils import plot_result

In [4]:
df= pd.read_csv("/content/drive/My Drive/Colab Notebooks/BDS/GlobalLandTemperaturesByCountry.csv")

In [5]:
df.shape
df.head()

(577462, 4)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [7]:
df.isnull()

           dt  AverageTemperature  AverageTemperatureUncertainty  Country
0       False               False                          False    False
1       False                True                           True    False
2       False                True                           True    False
3       False                True                           True    False
4       False                True                           True    False
...       ...                 ...                            ...      ...
577457  False               False                          False    False
577458  False               False                          False    False
577459  False               False                          False    False
577460  False               False                          False    False
577461  False                True                           True    False

[577462 rows x 4 columns]

In [8]:
df.drop(columns=["AverageTemperature","AverageTemperatureUncertainty"], inplace=True) # dropped because unique for every row
df.drop(columns=["dt", "Country"], inplace=True) # dropped because almost unique for every row
df.dropna(inplace=True)

In [9]:
df.shape
df.head()

(577462, 0)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [10]:
df.nunique

<bound method DataFrame.nunique of Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[577462 rows x 0 columns]>

In [11]:
categorical = []
continuous = []

for c in list(df):
    col = df[c]
    nunique = col.nunique()
    if nunique < 20:
        categorical.append(c)
    else:
        continuous.append(c)

In [12]:
 for c in categorical:
        counts = df[c].value_counts()
        np.random.choice(list(counts.index), p=(counts/len(df)).values, size=5)

In [13]:
best_distributions = []
for c in continuous:
    data = df[c]
    best_fit_name, best_fit_params = best_fit_distribution(data, 50)
    best_distributions.append((best_fit_name, best_fit_params))

In [20]:
best_distributions = [
    ('fisk', (11.744665309421649, -66.15529969956657, 94.73575225186589)),
    ('halfcauchy', (-5.537941926133496e-09, 17.86796415175786))]

In [22]:
pip install crowds

Collecting crowds
  Downloading https://files.pythonhosted.org/packages/50/a8/441dd5d03058280a3289900b147fb2e92f1a0dbad826557cf351a9b3593d/crowds-0.0.1-py3-none-any.whl
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.6/dist-packages (from crowds) (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->crowds) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->crowds) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->crowds) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->crowds) (1.15.0)
Installing collected packages: crowds
Successfully installed crowds-0.0.1

In [23]:
from crowds.kanonymity.generalizations import GenRule

def first_gen(value):
    return 'value'

def second_gen(value):
    return 'value'

new_rule = GenRule([first_gen, second_gen])
ruleset = {
    'attr_name': new_rule,
}

In [24]:
def loss_fn(node):
    return 0.0

In [28]:
from crowds.kanonymity import ola
anonymous_df = ola.anonymize(df, k=10, loss=loss_fn, generalizations=gen_rules 
                            )

NameError: ignored

In [36]:
df1= pd.read_csv("/content/drive/My Drive/Colab Notebooks/BDS/GlobalLandTemperaturesByMajorCity.csv")

In [37]:
df1.shape
df1.head()

(239177, 7)

           dt  AverageTemperature  ...  Latitude Longitude
0  1849-01-01              26.704  ...     5.63N     3.23W
1  1849-02-01              27.434  ...     5.63N     3.23W
2  1849-03-01              28.101  ...     5.63N     3.23W
3  1849-04-01              26.140  ...     5.63N     3.23W
4  1849-05-01              25.427  ...     5.63N     3.23W

[5 rows x 7 columns]

In [38]:
df1.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [39]:
df1.nunique

<bound method DataFrame.nunique of                 dt  AverageTemperature  ...  Latitude Longitude
0       1849-01-01              26.704  ...     5.63N     3.23W
1       1849-02-01              27.434  ...     5.63N     3.23W
2       1849-03-01              28.101  ...     5.63N     3.23W
3       1849-04-01              26.140  ...     5.63N     3.23W
4       1849-05-01              25.427  ...     5.63N     3.23W
...            ...                 ...  ...       ...       ...
239172  2013-05-01              18.979  ...    34.56N   108.97E
239173  2013-06-01              23.522  ...    34.56N   108.97E
239174  2013-07-01              25.251  ...    34.56N   108.97E
239175  2013-08-01              24.528  ...    34.56N   108.97E
239176  2013-09-01                 NaN  ...    34.56N   108.97E

[239177 rows x 7 columns]>

In [40]:
df1.isnull().sum()

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [41]:
df1.describe

<bound method NDFrame.describe of                 dt  AverageTemperature  ...  Latitude Longitude
0       1849-01-01              26.704  ...     5.63N     3.23W
1       1849-02-01              27.434  ...     5.63N     3.23W
2       1849-03-01              28.101  ...     5.63N     3.23W
3       1849-04-01              26.140  ...     5.63N     3.23W
4       1849-05-01              25.427  ...     5.63N     3.23W
...            ...                 ...  ...       ...       ...
239172  2013-05-01              18.979  ...    34.56N   108.97E
239173  2013-06-01              23.522  ...    34.56N   108.97E
239174  2013-07-01              25.251  ...    34.56N   108.97E
239175  2013-08-01              24.528  ...    34.56N   108.97E
239176  2013-09-01                 NaN  ...    34.56N   108.97E

[239177 rows x 7 columns]>

In [45]:
encoders = [(["LandAverageTemperature"], LabelEncoder()), (["LandAverageTemperatureUncertainty"], LabelEncoder())]
mapper = DataFrameMapper(encoders, df_out=True)
new_cols = mapper.fit_transform(df1.copy())
df2 = pd.concat([df1.drop(columns=["LandAverageTemperature", "LandAverageTemperatureUncertainty"]), new_cols], axis="columns")

KeyError: ignored